<div growl noprint></div>
<div ng-include src="'./core/view/header.html'" class="noprint"></div>
<div class="row-fluid" ng-init="page='one'">
    <div class="span12">
    <h2 style="color: #FFFFFF" class="noprint">{{ formTitle }}</h2>
    <div class="progress" class="noprint">
        <div class="bar " style="{{formIndicator}}"></div>
    </div>
        <form class="form-horizontal">
            PRODUCT LISTING FOR ORDERING PROCESS HERE
        </form>

    </div>
</div>


